* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #363636;
  color: white;
  font-family: "DM Sans", sans-serif;
}

.container {
  gap: 20px;
}

.container .title {
  font-family: "Syne", sans-serif;
  text-align: center;
  padding: 50px 0;
  font-size: 50px;
}

.list-items {
  margin: 20px;
  gap: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  max-width: 1200px;
  margin: 30px auto;
}

@media only screen and (max-width: 1400px) {
  .list-items {
    max-width: 90%;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 1050px) {
  .list-items {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 650px) {
  .list-items {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.add-button {
  background: #363636;
  padding: 10px 20px;
  border: solid 1px white;
  color: inherit;
  border-radius: 20px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-decoration: none;
  font-size: 18px;
}

.add-button:hover {
  background-color: #0049cb;
  border-color: #0049cb;
}

input,
button {
  font-family: inherit;
}

.item {
  padding: 20px;
  border: solid 1px white;
  border-radius: 10px;
  min-width: 250px;
  color: white;
  font-family: "DM Sans", sans-serif;
}

.item h6 {
  font-size: 20px;
  color: #e4e4e4;
}

.item p {
  font-size: 18px;
}

.item .item-deadline {
  color: #6793dd;
}

.item .item-select {
  color: #e78d6c;
}

[type="checkbox"] {
  position: relative;
  visibility: hidden;
}

[type="checkbox"]:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  border: solid 1px white;
  visibility: visible;
}

.form-partial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding-bottom: 100px;
  gap: 15px;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  .form-partial {
    max-width: 90%;
  }
}

.form-partial .form-field,
.form-partial textarea {
  background: transparent;
  border: 1px solid white;
  color: inherit;
  font-family: inherit;
  padding: 5px;
  font-size: 18px;
}

.form-partial .form-field:focus,
.form-partial textarea:focus {
  outline: none;
  border-color: #517fcf;
}

.form-partial ::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.marginx15 {
  margin-right: 15px;
  margin-left: 15px;
}

.marginx5 {
  margin-right: 5px;
  margin-left: 5px;
}

.marginy10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=styles.css.map */